	
.nav > li > a {
  	background-color: #f8f8f8 !important;
}
.nav > li.active > a,
.nav > li:hover > a,
.nav > li > a:hover {
	color:#FFFFFF !important;
}
.nav > li.active > a:after,
.nav > li:hover > a:after,
.nav > li > a:hover:after {
  	background-color: #5d5d5d !important;
}